<%- include('partials/header') %>



  <div class="Main">
    <div class="Box"></div>
    <div class="Page1">
      <div class="overlay"> <%- include('partials/nav') %>
          <h2 id="head1"> A Brand New Hotel Beyond Odinary</h2>

      </div><a class="btn" href="/">Book Noww</a>
    </div>
    <div class="Page2">
      <div class="Box2">
        <h1>Welcome To Hotel</h1>
        <p>Book A Luxary Room For Your Comfort Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, magnam!
        </p>
      </div>
      <div class="Box3">
        <div id="R1">
          <div id="I1"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I2"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5> <a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I3"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I4"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I5"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I6"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I7"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I8"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I9"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
        <div id="R1">
          <div id="I10"></div>
          <div id="T1">
            <h4>Dulex Room</h4>
            <p>This is an Exotic Room</p>
            <h5>Price-500$</h5><a href="">Book Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="Page3">
      <div id="B1"> <video autoplay muted loop src="/images/Bulgari Hotels & Resorts _ Bali.mp4"></video> </div>
      <div id="B2">
        <h1>HILLS MOTELS</h1>
        <p>Welcome To The Hills Motels Luxary As your Choice</p> <a href="">Explore More</a>
      </div>
    </div>

    <div class="Page4">
      <div class="form">


        <form action="/hotel/form" method="post">
          <h1>Book Now </h1>
          <input type="text" placeholder="Full Name" name="name">
          <input type="text" placeholder="email" name="email">
          <input type="text" placeholder="Mobile.No" name="mobile">
          <button>Submit</button>
        </form>












      </div>
      <div class="D2"></div>
    </div>
    <div class="Page5">
      <div id="L1">
          <div id="L5">
              <h2>My Hotel</h2>
          </div>
          <div id="L2">
              <div>
                  <h6>Country</h6>
                  <p>India</p>
                  <p>United Kingdom</p>
                  <p>London</p>
                  <p>New York</p>
                  <p>Maldivs</p>
              </div>
              <div>
                  <h6>Team Info</h6>
                  <p>About</p>
                  <p>Press</p>
                  <p>Info</p>
                  <p>Investors</p>
                  <p>Corporate</p>

              </div>
              <div>
                  <h6>Help</h6>
                  <p>Custumize Service</p>
                  <p>My Hotels</p>
                  <p>Support</p>
                  <p>Legal & Privacy</p>
                  <p>Contact</p>
              </div>
          </div>
          <div id="L3">
              <h6>Travel, Explore, Enjoy the magnificent divers</h6>
              <br><a class="Read More" href="">Read More</a>
              <div></div>
              <div id="L6"> <img src="/images/instagram-fill (1).png" alt=""><img src="/images/linkedin-box-fill (2).png"
                      alt=""><img src="/images/twitter-fill.png" alt=""></div>
          </div>
      </div>

  </div>
  <div id="L9">
      <h6>All Right Reserved @2023</h6>
  </div>
</div>

  </div>

















  <%- include('partials/footer') %>